---
import Layout from "../layout/Layout.astro";
---

<Layout>
  <div class="container">
    <div class="row gx-2">
      <div class="feature col-6">a</div>
      <div class="feature col-6">a</div>
      <div class="feature col-6">a</div>
    </div>
  </div>
</Layout>
<style>
  .feature {
    border: black solid 2px;
  }
</style>
