---
import { Image } from "astro:assets";
import Img from "../assets/grow.webp";
---

<section id="grow" class="section">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div
        class="col-10 mx-auto d-flex justify-content-center col-sm-8 col-lg-4"
      >
        <Image
          id="hero-image"
          src={Img}
          class="d-block mx-auto img-fluid"
          alt="Bootstrap Themes"
          width="360"
          height="360"
          loading="lazy"
        />
      </div>
      <div class="col-lg-8">
        <div class="fs-3 fw-semibold text-body-emphasis mb-3">
          Grow better with Ruwhub today
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-prim btn-lg py-3 px-5 me-md-2"
            >Get a Demo</button
          >
          <button type="button" class="btn btn-sec btn-lg py-3 px-5"
            >Get Started Free</button
          >
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .btn {
    font-weight: 600;
  }
  .btn-prim {
    background-color: var(--primary);
    color: white;
  }
  .btn-prim:hover {
    background-color: var(--primary-hover);
    color: white;
  }
  .btn-sec {
    border: 2px solid var(--primary);
    background-color: var(--primary-outline);
    color: var(--primary);
  }
  .btn-sec:hover {
    border: 2px solid var(--primary-hover);
    background-color: var(--primary-outline-hover);
    color: var(--primary);
  }
</style>
