---
export interface Props {
  title: string;
  desc: string;
  img: string;
}
const { title, desc, img } = Astro.props;
---

<div class="col">
  <div class="card rounded-3 border-0 pt-3 px-4">
    <div><img src={img} alt="" /></div>
    <a href={"#"} class="fw-bold mt-1">{title}</a>
    <p class="mt-2">
      {desc}
    </p>
  </div>
</div>
<style>
  .card a {
    color: #005fa3;
    font-size: 20px;
  }
</style>
