<div id="footer">
  <footer class="py-5 container">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h5>Navigation</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#home" class="nav-link p-0 y">Home</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#feature" class="nav-link p-0 y">Features</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#about" class="nav-link p-0 y">About</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#service" class="nav-link p-0 y">Service</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#company" class="nav-link p-0 y">Client</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Company</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">About us</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Careers</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Management</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Blog</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Contact us</a>
          </li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h5>Contact</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Instagram</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Twitter</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Youtube</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Tiktok</a>
          </li>
          <li class="nav-item mb-2">
            <a href="#" class="nav-link p-0 y">Whatsapp</a>
          </li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Subscribe to our newsletter</h5>
          <p>Monthly digest of what's new and exciting from us.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden"
              >Email address</label
            >
            <input
              id="newsletter1"
              type="text"
              class="form-control"
              placeholder="Email address"
            />
            <button class="btn btn-prim" type="button">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div
      class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top"
    >
      <p>&copy; 2024 Ruwhub, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3">
          <a class="link-body-emphasis" href="#"
            ><svg class="bi" width="24" height="24"
              ><use xlink:href="#twitter"></use></svg
            ></a
          >
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="#"
            ><svg class="bi" width="24" height="24"
              ><use xlink:href="#instagram"></use></svg
            ></a
          >
        </li>
        <li class="ms-3">
          <a class="link-body-emphasis" href="#"
            ><svg class="bi" width="24" height="24"
              ><use xlink:href="#facebook"></use></svg
            ></a
          >
        </li>
      </ul>
    </div>
  </footer>
</div>
<style>
  #footer {
    background-color: rgb(25, 39, 51);
    color: white;
  }
  #footer a {
    color: white;
    transition: 300;
  }
  #footer a:hover {
    color: rgb(0, 90, 193);
  }
  .btn {
    font-weight: 600;
  }
  .btn-prim {
    background-color: var(--primary);
    color: white;
  }
  .btn-prim:hover {
    background-color: var(--primary-hover);
    color: white;
  }
  .btn-sec {
    border: 2px solid var(--primary);
    background-color: var(--primary-outline);
    color: var(--primary);
  }
  .btn-sec:hover {
    border: 2px solid var(--primary-hover);
    background-color: var(--primary-outline-hover);
    color: var(--primary);
  }
  .nav {
    margin-top: 16px;
  }
</style>
