---
import $ from "jquery";
---

<div id="nav-top" class="border-bottom py-lg-3">
  <div
    class="container d-lg-flex d-none justify-content-between align-items-center"
  >
    <div class="d-flex gap-3">
      <a href="#">English</a>
      <a href="#">Contact Sales</a>
    </div>
    <div class="d-flex gap-3">
      <a href="#">Customer Support</a>
      <a href="#">Report Bug</a>
      <a href="#">About</a>
    </div>
  </div>
</div>
<nav
  class="navbar shadow-sm navbar-expand-lg w-100 position-sticky border-bottom"
  aria-label="Thirteenth navbar example"
>
  <div class="container">
    <a class="navbar-brand" href=" #">
      <span class="fw-bold fs-3" style="color: var(--primary);"
        >RUW<span class="text-black">HUB</span>
      </span></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between d-lg-flex"
      id="navbarsExample11"
    >
      <ul
        class="navbar-nav col-lg-6 justify-content-lg-center fs-5 fw-semibold"
      >
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item dropdown position-relative">
          <a
            class="nav-link dropdown-toggle"
            data-bs-auto-close="outside"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Resources
          </a>

          <div
            id="ddmenu"
            class="dropdown-menu shadow position-absolute rounded-1 py-4"
            aria-labelledby="dropdownMenuButton"
            x-placement="bottom-start"
          >
            <div
              class="mega-menu mx-auto row row-cols-2 row-cols-lg-3 g-lg-5 g-1 gx-5"
            >
              <div>
                <h3 class="">Education</h3>
                <ul class="list-unstyled border-primary">
                  <li>
                    <a href="#">Blog</a>
                  </li>
                  <li>
                    <a href="#">Ebooks, Guides & More</a>
                  </li>
                  <li>
                    <a href="#">Free Courses & Certifications</a>
                  </li>
                  <li>
                    <a href="#">Resources</a>
                  </li>
                  <li>
                    <a href="#">Channels</a>
                  </li>
                  <li>
                    <a href="#">Hire a Mentor </a>
                  </li>
                </ul>
              </div>
              <div>
                <h3 class="">Why Ruwhub?</h3>
                <ul class="list-unstyled border-warning">
                  <li>
                    <a href="#">Case Studies</a>
                  </li>
                  <li>
                    <a href="#">Examples</a>
                  </li>
                  <li>
                    <a href="#">Problem Solving</a>
                  </li>
                  <li>
                    <a href="#">Scale with Ruwhub</a>
                  </li>
                  <li>
                    <a href="#">Migrate to Ruwhub</a>
                  </li>
                  <li>
                    <a href="#">Our Clients</a>
                  </li>
                </ul>
              </div>
              <div>
                <h3 class="">User Resources</h3>
                <ul class="list-unstyled border-danger">
                  <li>
                    <a href="#">What's New</a>
                  </li>
                  <li>
                    <a href="#">Partner Program</a>
                  </li>
                  <li>
                    <a href="#">Developer Tools</a>
                  </li>
                  <li>
                    <a href="#">Communities</a>
                  </li>
                  <li>
                    <a href="#">Ruwhub Ecosystem</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="d-lg-flex col-lg-3 my-3 my-lg-0 justify-content-lg-end">
        <button class="btn btn-prim fw-bold btn-lg">Start a free demo</button>
      </div>
    </div>
  </div>
</nav>
<script>
  $(document).ready(function () {
    $(".dropdown-menu a").on("click", function () {
      // Find the closest dropdown and remove the 'show' class
      $(this).closest(".dropdown-menu").removeClass("show");
      $(this)
        .closest(".dropdown")
        .find(".dropdown-toggle")
        .attr("aria-expanded", "false");
    });
  });
</script>
<style>
  .mega-menu li:not(:last-child) {
    margin-bottom: 12px;
  }
  .mega-menu ul {
    margin-top: 16px;
  }
  #nav-top a {
    font-weight: 500;
    font-size: 16px;
  }
  a {
    font-weight: 300;
    font-size: 18px;
    text-decoration: none;
    color: rgb(103, 103, 103);
    transition: 300ms;
  }
  a:not(.navbar-brand):hover {
    color: var(--secondary);
    text-decoration: underline;
  }
  :root {
    --primary: #ff6f00;
    --secondary: #151079;
    --ternary: rgb(102, 102, 102);
  }
  li {
    list-style: none;
  }
  #freedemobtn {
    background-color: var(--primary);
    color: white;
  }
  .btn-prim {
    background-color: var(--primary);
    color: white;
  }
  .btn-prim:hover {
    background-color: var(--primary-hover);
    color: white;
  }
  .btn-sec {
    border: 2px solid var(--primary);
    background-color: var(--primary-outline);
    color: var(--primary);
  }
  .btn-sec:hover {
    border: 2px solid var(--primary-hover);
    background-color: var(--primary-outline-hover);
    color: var(--primary);
  }
  .navbar {
    top: 0;
    z-index: 999;
    background-color: white;
  }
  .navbar-nav > li:not(:last-child) {
    margin-right: 12px;
  }
  .nav-item > a {
    font-weight: 600;
    font-size: 20px;
  }
  .dropdown-menu {
    top: 56px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 80vw;
  }
  @media (max-width: 992px) {
    .dropdown-menu {
      width: 100vw;
    }
    .dropdown-menu a {
      font-size: small;
    }
    .mega-menu li:not(:last-child) {
      margin-bottom: 0;
    }
    .mega-menu {
      gap: 0px auto;
    }
    .mega-menu ul {
      margin-top: 0;
    }
  }
</style>
